{{ nom | upper}}
{{'&Hello' |lower|trim('&') }}
{{ prenom }}
{# Ceci un commentaire #}

{% set a="Hello" %}
{{ a }}


{% for i in 0..9 %}
{{ i }}
{% endfor %}

{% set hour=8 %}
{% if hour < 12 %}
<p>Bonjour ! </p>
{% elseif hour < 18 %}
<p>Bon après-midi!</p>
{% else %}
<p>Bonsoir !</p>
{% endif %}

<a href="{{path('app_author')}}">Lien 1</a>
<a href="{{url('app_author')}}">Lien 2</a>

<img src="{{asset('assets/images/image.jpg')}}">